version: "3.8"

services:

  cbot-pg:
    container_name: cbot-pg
    image: "postgres:16"
    restart: unless-stopped
    environment:
      - POSTGRES_DB=cbotDB
      - POSTGRES_USER=admin
      - POSTGRES_PASSWORD=admin
    ports:
      - "5433:5432"
    networks:
      - cbot-pg
    volumes:
      - /var/docker-volumes/cbot-pg:/var/lib/postgresql/data/

networks:
  cbot-pg:
    driver: bridge

