version: "3.8"

services:

  cbot-pg:
    container_name: cbot-pg
    image: "postgres:16"
    restart: unless-stopped
    environment:
      - POSTGRES_DB=cbotDB
      - POSTGRES_USER=admin
      - POSTGRES_PASSWORD=admin
    ports:
      - "5433:5432"
    networks:
      - cbot-pg
    volumes:
      - /var/docker-volumes/cbot-pg:/var/lib/postgresql/data/

  elasticsearch:
    image: elasticsearch:8.11.3
    container_name: elasticsearch
    restart: always
    environment:
      cluster.name: elasticsearch  # Set the cluster name to Elasticsearch
      discovery.type: single-node  # Start in a single node mode
      xpack.security.enabled: false #need for getting answer without certs
      ES_JAVA_OPTS: "-Xms256m -Xmx256m"  # Setting up using JVM memory size
    volumes:
      - /var/docker-volumes/elk/es/plugins:/usr/share/elasticsearch/Plugins # plugin file mount
      - /var/docker-volumes/elk/es/data:/usr/share/elasticsearch/Data # data file mount
    ports:
      - "9200:9200"
      - "9300:9300"
    networks:
      - elk

  kibana:
    image: kibana:8.11.3
    container_name: kibana
    restart: always
    depends_on:
      - elasticsearch #Kibana starts after Elasticsearch
    environment:
      - ELASTICSEARCH_URL="http://elasticserach:9200"  # Set the address of the ELasticSearch
    ports:
      - "5601:5601"
    networks:
      - elk

  logstash:
    image: logstash:8.11.3
    container_name: logstash
    restart: always
    volumes:
      - ./logstash/:/logstash/dir
    command: logstash -f /logstash_dir/logstash.conf
    depends_on:
      - elasticsearch
    ports:
      - "9600:9600"
    environment:
      - LS_JAVA_OPTS="-Xmx256m -Xms256m"
    networks:
      - elk

networks:
  cbot-pg:
    driver: bridge
  elk:

