server:
  port: 9090

bot:
  name: ${PL_BOT_NAME}
  token: ${PL_BOT_TOKEN}
  webhookpath:    https://304d-213-87-154-185.eu.ngrok.io
  adminId: 101516610
  chat-interval: 10000


spring:
  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://localhost:5432/companybot
    username: ${POSTGRES_NAME}
    password: ${POSTGRES_PASSWORD}
  jpa:
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQL95Dialect
        show_sql: true
        hbm2ddl:
          auto: create