server:
  port: 9100

bot:
  name: ${PL_BOT_NAME}
  token: ${PL_BOT_TOKEN}
  webhookpath:    https://ff34-93-174-229-214.eu.ngrok.io
  adminId: 101516610
  admin_pass: "$2y$10$9oRn/cntNse8qPrkDZ2o4eiXDdUuVKxtRZovVxh/ZCBfTvMIJQ6rW"
  chat-interval: 60000

spring:
  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://localhost:5432/companybot
    username: ${POSTGRES_NAME}
    password: ${POSTGRES_PASSWORD}

  autoconfigure:
    exclude: org.springframework.boot.autoconfigure.security.servlet.SecurityAutoConfiguration

  jpa:
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQL95Dialect
        show_sql: true
        format_sql: true
        hbm2ddl:
          auto: validate



  liquibase:
    change-log: classpath:db/changelog/db.changelog-master.xml

logging:
  level:
    org.springframework: ERROR
    ru.veselov: INFO
    org.hibernate: ERROR
  pattern:
    console: "%magenta(%d{yyyy-MM-dd HH:mm:ss}) [%yellow(%thread)] %highlight(%-5level) %green(%logger{36}): %msg%n"
    file: "%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36}: %msg%n"
  file:
    name: ${logging.file.path}company_bot.log
    path: /opt/log/
    max-size: 10MB
  logback:
    rollingpolicy:
      file-name-pattern: ${logging.file.path}archived/company_bot.%d{yyyy-MM-dd}.%i.log
      max-file-size: 10MB
      max-history: 30
      total-size-cap: 2GB