server:
  port: 9100

bot:
  name: ${PL_BOT_NAME}
  token: ${PL_BOT_TOKEN}
  webhookpath: https://82e6-93-174-229-214.eu.ngrok.io
  adminId: 101516610
  admin_pass: "$2y$10$kZ/E/QRkBHTUZSqV/YF2PezE6b/npo0gvUaKvrJ9Uyql1k489M8bG"
  chat-interval: 1000


spring:
  autoconfigure:
    exclude: org.springframework.boot.autoconfigure.security.servlet.SecurityAutoConfiguration

  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://localhost:5432/companybottest
    username: ${POSTGRES_NAME}
    password: ${POSTGRES_PASSWORD}
    hikari:
      maximum-pool-size: 2 #during test each context create 10 connections to db
      #changing this parameter to 2 - solved problem with too Many connections Error
      #also recommendation is to set minimum-idle=5, it means that hikari will create new connection only when ide
      #connection will fall below our threshold
  jpa:
    properties:
      hibernate:
        hbm2ddl:
          auto: none
        show_sql: true

logging:
  level:
    org.springframework: INFO
    ru.veselov: DEBUG
    org.hibernate: INFO
  pattern:
    console: "%magenta(%d{yyyy-MM-dd HH:mm:ss}) [%yellow(%thread)] %highlight(%-5level) %logger{36} - %msg%n"
