<!DOCTYPE module PUBLIC
        "-//Puppy Crawl//DTD Check Configuration 1.3//EN"
        "http://www.puppycrawl.com/dtds/configuration_1_3.dtd">
<module name="Checker">
    <module name="TreeWalker">
        <property name="tabWidth" value="4"/>
        <property name="severity" value="warning" />
        <module name="AvoidStarImport"/>
        <module name="ConstantName"/>
        <module name="JavadocMethod"/>
        <module name="CyclomaticComplexity"/>
        <module name="NPathComplexity"/>
        <module name="MethodName"/>
        <module name="WhitespaceAround"/>
    </module>
</module>